.player-container {
  width:  800px; 
  height: 600px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.control-btns {
  flex-grow: 1;
}

.player-control-time {
  display: flex;
}

.player-controls {
  display: flex;
  background-color: black;
  align-items: center;
}

.left-buttons {
  display: flex;
  max-width: 70px;
}

.right-buttons {
  margin-right: 1px;
  margin-top: 0px;
  max-width: 32px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.player-button  {
  background-color: black;
  border-style: none;
  cursor: pointer;
  height: 42px;
  width: 30px;
  color: white;
}

.play-pause {
  margin-left: 2px;
}

.mute-unmute {
  margin-left: 6px;
}

.player-control-time {
  font-family: 'Roboto', sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.viewing-progressbar {
  flex-grow: 1;
  height: 5px;
  align-self: center;
}

.progressbar {
  background-color: black;
  height: auto;
  margin-left: 10px;
  border-radius: 2px;
  display: flex;
}

.progress-slider {
  background-color: red;
  width: 31.4402%;
  height: 5px;
  border-radius: 2px;
 
}

.progress-pointer {
  height: 8px;
  width: 8px;
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: -4px;
  margin-left: -7px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
}

.viewing-progressbar:hover .progress-pointer {
  opacity: 1;
}
