.player-container {
  width:  800px; 
  height: 600px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.controls {
  flex-grow: 1;
}

.player-control-time {
  display: flex;
}

.player-controls {
  display: flex;
  background-color: black;
  height: 42px;
}

.left-buttons {
  display: flex;
  max-width: 70px;
}

.right-buttons {
  margin-top: 0px;
  max-width: 32px;
  /*margin-right: 3px;*/
}

.player-button {
  background-color: black;
  border: 1px solid red;
  border-style: none;
  cursor: pointer;
  margin-top: 11px;
}

.play-pause {
  margin-left: 4px;
  width: 30px;
}

.mute-unmute {
  margin-left: 6px;
  width: 30px;
}

/*
.player-button:first-child,
.player-button:nth-child(2) {
   margin-left: 4px;
}
*/

/*
.player-button:nth-child(3) {
  margin-right: 2px;
}

.player-button:nth-child(4) {
  margin-right: 2px;
}
*/
.player-control-time {
  font-family: 'Roboto', sans-serif;
  margin: 10px 5px 0px 5px;
  display: flex;
}

.player-menu-icon {
  display: inline-block;
  border-style: none;
  color: white;
  background-color: black;
  line-height: normal;
  height: auto;
  vertical-align: middle;
}

.viewing-progressbar {
  margin-top:  1px;
  flex-grow: 1;
  height: 5px;
  align-self: center;
}

.js-progress {
  background-color: black;
  height: auto;
  margin-left: 10px;
  border-radius: 2px;
  display: flex;
}

.js-progress-slider {
  background-color: red;
  width: 31.4402%;
  height: 5px;
  border-radius: 2px;
 
}

.progress-pointer {
  height: 8px;
  width: 8px;
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
  display: flex;
  margin-top: -4px;
  margin-left: -5px;
}