.player-container {
  width:  800px; 
  height: 600px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.controls {
  flex-grow: 1;
}

.player-control-time {
  display: flex;
}

.player-controls {
  display: flex;
  background-color: black;
  height: 42px;
}

.left-buttons {
  max-width: 70px;
  margin-left: 4px;
}

.right-buttons {
  max-width: 32px;
}

.player-button {
  background-color: black;
  border: 1px solid red;
  border-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.player-button:last-child {
  margin-right: 2px;
}

.player-button:nth-child(3) {
  margin-left: 6px;
}

.player-button:nth-child(4) {
  margin-left: 6px;
}

.player-control-time {
  font-family: 'Roboto', sans-serif;
  margin: 10px 5px 0px 0px;
  display: flex;
}

.player-menu-icon {
  display: inline-block;
  border-style: none;
  color: white;
  background-color: black;
  line-height: normal;
  height: auto;
  vertical-align: middle;
}

.empty-space {
  flex-grow: 1;
}

